body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
   --primary-color: #1eb2a6;
   
   /* --primary-color:#6E04FF; */

  
  --secncary-color:#cedad1;

  /* --tertiary-color:; */
   /* --secncary-color:rgba(110,4,255,.2); */
   
   /* --secncary-color:rgba(202, 168, 251, 0.6); */
  --text-white:#fff;
  --text-white-25:#e5e4e6;
  --text-white-50:rgb(213, 212, 212);
  --text-white-75:rgb(185, 183, 183);
  --text-black:#1c1c1c;
  --text-black-75:#333333;
  --text-black-50:#525151;
  --light-background-color: #e3e5ea;
  --dark-background-color:#404049;


}
*{
  box-sizing: border-box;
  transition: all .4s;
}